@import "tailwindcss";

@theme { 
  --color-white-main: #f1f1f1;
  --color-black-main: #1f1f1f;
}

body {
  color: var(--color-white-main);
  background-image: repeating-linear-gradient(60deg, #000 0px, #252525 6px, #000 4px);
}
