@import "tailwindcss";

@theme {
  --color-white-main: #f1f1f1;
  --color-black-main: #1f1f1f;
  --animate-fade-in-up: fade-in-up 0.8s ease-in-out;
  --animate-fade-in-bottom: fade-in-bottom 1s ease-in-out;
  --animate-fade-in: fade-in 0.8s ease-in-out;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-bottom {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

button:active {
  transition: all 0.3s ease-in-out;
  transform: scale(0.95);
}

* {
  scrollbar-color: #a07f1d #1f1f1f;
  scrollbar-width: thin;
}

body {
  color: var(--color-white-main);
  background-image: repeating-linear-gradient(
    60deg,
    #000 0px,
    #252525 6px,
    #000 4px
  );
}
